/* Mobile first css code */
body{ 
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color:#fff;
    line-height: 1.5;
    opacity: 0.9;
    font-size: 1.5rem;       
}
main{
    margin-top:29px;
}

header{
    display:none;
}

li{
    display:inline-block;
}
a{
    text-decoration: none;
}
header a{
    color:#fff;
    opacity:0.8;   
}
.header-wrapper{
    padding:1% 6%;
    font-size: 1rem;
}
section{
    margin: 5% 0%;
    width:100vw;
   
}
.presentation{
    margin:0% 6%;
}
.flex-wrapper{
    display:flex;
    flex-wrap: wrap;
}
.avatar-wrapper img{
    width: 250px;
}
.avatar-wrapper{
    text-align: center;
}
.hello-txt-wrapper{
    text-align: center;
    
}

.hello{
    background-color: #3700B3;
    font-size: 1.2rem;
    width: 50vw;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}
.presentation-txt{
    margin-top: 40px;
    font-size: 2rem;
    text-align: center;
}
.contact-infos{
    margin-top:25px;
    margin-bottom:25px;
    font-size: 1rem;
}
div.info a {
    color:#fff;
    text-decoration: none;
}
.info i {
    margin-right: 20px;
}
.info:hover i{
    color:#3700B3;
}
.about-wrapper img{
    width: 300px;
}
.about-wrapper{
    text-align: center;
}

.tech{
    
    margin-bottom: 10px;
    display: block;
}
.content-wrapper{
    text-align: center;
}
.download-btn{
    background-color: #3700B3;
    
    padding: 8px 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    border-radius: 20px;
}
.download-btn a {
    color:#fff;
    text-decoration: none;
}
.card{
    background-color: #202026;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
    border-radius: 1.5%;
    box-shadow: 0 4px 20px 0 black, 0 6px 20px 0 black;
}
.card-title{
    margin-top:25px;
}
.card-resume{
    text-align: left;
    padding:3%;
}
i.card-ico{
    margin-top:25px;
    font-size: 45px !important;
}
.period{
    font-size: 12px;
    color:#03DAC6;
    font-weight: bold !important;
}
.card-footer{
    margin-top:25px;
}
.card-footer-text{
    font-size:14px;
    opacity: 0.7;
}
.responsability{
    font-size: 13px;
}
.responsability span{
    font-size: 8px !important;
    margin-right: 15px;
}
.grid-projects-wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;  
}
.grid-posts-wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px; 
}

.categories-menu-wrapper{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.categories-menu-wrapper li{
    margin-left: 20px;
}
.project img{
    width:320px;
}
.post-content{
    background-color: #1B1B20;
    padding:20px 20px;
}
.post-content div {
    margin-bottom: 20px;
}
.post-content h2{
    opacity: 0.9;
}
.post-content-text{
    font-size: 14px;
    opacity: 0.9;
}
.post-content-date{
    opacity: 1;
    font-weight: bold;
    font-size: 14px;
}
.post-image img{
    width: 100%;
}
.contact-form-wrapper{
    background-image: url('../img/contact_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
 
}


.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
   
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #fff;
}
.contact-message{
   
    
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    padding: .375rem .75rem;
    background-color: transparent;
    border-color: transparent;
    border-radius: .25rem;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
}
#name{
    margin-right: 0px;
}
.hero{
    text-align: center;
}
.tech img {
    width:100px;
    height: 100px;
}
.java-img{
    width: 80px !important;
}
@media only screen and (min-width: 412px) {
    #header{
        display: block;
        z-index:99;
        -webkit-transition:1s all ease;
	    -moz-transition:1s all ease;
        transition:1s all ease;
        height: 48px;
        position: fixed;
        top: 0;
        width:100%;
       
    }
    .sticky{
        
        background-color: #fff;
        
        
    }
    header nav{
        text-align:right;
    }
    .social-icos{
        display: inline-block;
        float:left;
    }
    .navi li {
        margin-right: 20px;
    }
    .sticky-nav{
        color: #121212 !important;
        opacity: 0.8;
    }
    .flex-wrapper{
        display:flex;
        flex-wrap: nowrap;
    }
    .presentation{
        flex-direction: row-reverse;
    }
    .card{
        margin-right: 10px;
    }
    #abtme{
        margin-top: 12%;
    }
    #prest{
        margin-top: 8%;
    }
    .work-experience{
        width:63%;
    }
    .grid-projects-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        
    }
    .grid-posts-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .project img{
        width:100%;
    }
    .form-control{
        margin-right: 15px;
    }
    .contact-message{
        width:100%;
    }
    #send-btn{
        width:25%;
    }
    i.social-ico{
        font-size:25px;
        margin-right: 20px;
        opacity: 0.8;
    }
    .tech{
        display: inline-block;
    }
}